<!-- Created by Murugan_Nagarajan on 9/24/2017 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECIPES DETAILS</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--/*@thymesVar id="recipe"  type="tamil.learn.springframework.learnspringrecipeapp.domain.Recipe"*/-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${recipe.description}">RECIPE DESCRIPTION!!!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3"> Categories :</div>
                            <div class="col-md-9">
                                <ul th:each="category: ${recipe.categories}">
                                    <li th:text="${category.categoryname}">Category 1</li>
                                    <li th:remove="all">Category 2</li>
                                    <li th:remove="all">Category 3</li>
                                    <li th:remove="all">Category 4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3" th:text="${{recipe.prepTime}+ ' Min'}">15 Min
                            </div>
                            <div class="col-md-3"><h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3" th:text="${recipe.difficulty}">EASY
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h5>Cook Time:</h5>
                            </div>
                            <div class="col-md-3" th:text="${{recipe.cookTime}+ ' Min'}">15 Min
                            </div>
                            <div class="col-md-3"><h5>Servings:</h5>
                            </div>
                            <div class="col-md-3" th:text="${recipe.servings}">2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h5>Total Time:</h5>
                            </div>
                            <div class="col-md-3" th:text="${{recipe.cookTime}+ ' Min'}">90 Min
                            </div>
                            <div class="col-md-3"><h5>Source URL:</h5>
                            </div>
                            <div class="col-md-3"><a th:href="${recipe.url}" th:text="${recipe.url}">www.example.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">INGREDIENTS</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul th:each="ingredient: ${recipe.ingredients}">
                                <li th:text="${{ingredient.amount + '  '
                                + ingredient.uom.description + '  '
                                + ingredient.description}}">Ingredient 1
                                </li>
                                <li th:remove="all">Ingredient 2</li>
                                <li th:remove="all">Ingredient 3</li>
                                <li th:remove="all">Ingredient 4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">DESCRIPTION</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" th:text="${recipe.directions}">
                            Description Content goes here
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">NOTES</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" th:text="${recipe.notes.description}">
                            Notes Content goes here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>